<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Listado de Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="crear-tareas" href="/tabs/crear-tareas">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Crear Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acerca-de" href="/tabs/acerca-de">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Acerca de ...</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tabseminario" href="/tabs/tabseminario">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab Seminario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
